@page
@model MyAutoService.Pages.Users.IndexModel
@{
}
<form>
	<div class=" border" style="background-color : white">
		<div class="row p-3">
			<div class="text-info">Our List Service</div>

			<div class="col-6  ">

				<div class="text-info">Our List Service</div>
			</div>
			<div class="col-6 text-left ">
				<a asp-page="/Account/Register" asp-area="Identity" class="btn btn-info">
					Add Our service
					<i class="fas fa-plus fa-xs"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="border">
		<br />
		<div>
			<div class="border">
				<div style="height : 60px" class=" container border border-secondary1">
					<div class="row ">
						<div class="col-11">
							<div class="row " style="padding-top : 10px">
								<div class="col-4">
									<input type="text" name="searchName" placeholder="Name" class="from-control" />
								</div>
								<div class="col-4">
									<input type="email" name="searchEmail" placeholder="Email" class="from-control" />
								</div>
								<div class="col-4">
									<input type="text" name="searchPhone" placeholder="Phone" class="from-control" />
								</div>
							</div>
						</div>
						<div class="col-1">
							<div class="row " style="padding-top : 10px; padding-left : 15px">
								<button type="submit" name="submit " value="submit" class="btn btn-info form-control ">
									Find
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br />
			@if (Model.UsersListViewModel.ApplicationUserList.Count > 0)
			{
				<table class=" table table-striped boarder">
					<tr class="table-secondary">
						<th>
							@Html.DisplayNameFor(m => m.UsersListViewModel.ApplicationUserList[0].Name)
						</th>
						<th>
							@Html.DisplayNameFor(m => m.UsersListViewModel.ApplicationUserList[0].PhoneNumber)
						</th>
						<th>
							@Html.DisplayNameFor(m => m.UsersListViewModel.ApplicationUserList[0].Email)
						</th>
						<th> Cars ManangMent</th>
						<th></th>
					</tr>
					@foreach (var user in @Model.UsersListViewModel.ApplicationUserList)
					{
						<tr>
							<td>
								@user.Name
							</td>
							<td>
								@user.PhoneNumber
							</td>
							<td>
								@user.Email
							</td>
							<td>
								<a asp-page="/Cars/Index" asp-route-userId="@user.Id">
									Car MAnangments
								</a>
							</td>
							<td style="width : 150px">


								<div class="btn btn-group" role="group">
									<a class=" btn btn-outline-primary " asp-page="Edit" asp-route-Id="@user.Id">
										<i class="fas fa-edit fa-sm"></i>
									</a>
									<a class=" btn btn-outline-success" asp-page="Details" asp-route-Id="@user.Id">
										<i class="fas fa-list-alt fa-sm"></i>
									</a>
									<a class=" btn btn-outline-danger " asp-page="Delete" asp-route-Id="@user.Id">
										<i class="fas fa-edit fa-sm"></i>
									</a>
								</div>
							</td>
						</tr>
					}
				</table>
			}
			else
			{
				<div> USer NoTFound</div>
			}
		</div>
	</div>
</form>
